html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Quicksand";
  src: url("./../Quicksand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Quicksand", "Arial";

  color: white;
  background-color: rgb(0, 12, 12);
  background-image: url("./../Background.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 60px;

  width: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 9999;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  max-width: calc(100vw - 200px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  backdrop-filter: blur(30px);
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: orange;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action-btn {
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action-btn:hover {
  scale: 1.05;
  color: white;
}

.action-btn:active {
  scale: 0.95;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 240px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
}

.dropdown-menu .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .navbar-links,
  .navbar .action-btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown-menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}

section#hero {
  display: flex;
}

.main-header-text {
  text-align: center;
  font-size: 340%;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.bento-grid {
  display: grid;
  grid-gap: 2rem 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: min (95% 70rem);
  margin-inline: auto;

  margin-top: 20px;
  margin-bottom: 20px;

  margin-left: 20%;
  margin-right: 20%;
}

.profile-image-box {
  padding: 2rem;
  display: grid;
  place-items: center;
}

.profile-image {
  width: 90%;
  border-style: solid;
  border-radius: 50%;
}

.project-header {
  padding-left: 10px;
  padding-right: 10px;

  font-size: 1.5rem;
}

.project-box {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  backdrop-filter: blur(15px);
}

.project-text {
  padding-left: 10px;
  padding-right: 10px;

  font-size: 1.2rem;
}

.tech-stack-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(80px, 3fr));
  width: min (95% 70rem);
  margin-inline: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  align-self: bottom;
}

.project-image {
  width: 94%;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: none;

  transition: transform 0.2s;
  border-radius: 10px;
}

.project-image:hover {
  transform: scale(2);
  z-index: 9999;
}

.tech-stack-button {
  background-color: white;
  border: none;
  border-radius: 10%;
  color: black;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "TinesNewRoman";
  font-size: 0.7rem;
  background: #e0e0e0;

  box-shadow: inset -5px -5px 15px #727272, inset 20px 20px 15px #ffffff;
}

.display-image {
  width: 100%;
  border-radius: 10px;
}

.projects-button-box {
  place-items: center top;
}

.projects-button {
  background-color: orange;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 22px;

  font-size: 25px;
}

.projects-button:hover {
  scale: 1.05;
  cursor: pointer;
}

.projects-button:active {
  scale: 0.95;
}

.testimonials-grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.testimonial-box {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  backdrop-filter: blur(15px);
}

.testimonial-profile-pic {
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: palegoldenrod;
  margin-top: 10px;
  margin-left: 10px;
}

.headers-text {
  text-align: center;
  font-size: 250%;
}

.project-grid {
  display: grid;

  grid-template-columns: 2fr 1fr;

  width: min (95% 70rem);
  margin-inline: auto;
  outline: solid;
  border-width: 1px;
  border-radius: 5px;
  backdrop-filter: blur(15px);
  grid-template-rows: 1fr 2fr 1fr 1fr;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 40%;
}

.project-grd-alternate-margins {
  margin-left: 40%;
  margin-right: 20%;
}

@media (max-width: 992px) {
  .bento-grid,
  .project-grid,
  .project-grd-alternate-margins,
  .testimonials-grid {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.project-grid-photo-span {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
}

.fun-fact-text {
  color: yellow;
}

.project-tech-stack-grid {
  grid-column: span 2;

  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 10px;

  height: 1rem;
}

.rentals-hd-bg {
  background-image: url("./../images/Rentals-Heading-BG.jpeg");
  background-size: cover;
  border-bottom-right-radius: 15px;
}

.sheep-hd-bg {
  background-image: url("./../images/Sheep-Heading-BG.jpg");
  background-size: cover;
  border-bottom-right-radius: 15px;
}

.website-hd-bg {
  background-image: url("./../images/Website-Heading-BG.jpg");
  background-size: cover;
  border-bottom-right-radius: 15px;
}

.page-footer {
  margin-top: 10px;
}

.page-footer::before {
  content: "";
  height: 2px;
  display: block;
  background-color: white;
}
